<!-- Just an image -->
<nav class="navbar navbar-light bg-dark">
  <div class="container">
    <a class="navbar-brand" href="\">
      <img src="https://yt3.ggpht.com/ytc/AKedOLQzGY44s84EJIpeU_ZH3sf4TjElC6f63g6XYFtKyg=s176-c-k-c0x00ffffff-no-rj"
        width="30" height="30" alt="">
    </a>

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        <img src="https://learn.lhu.edu.vn/pluginfile.php/1/core_admin/logo/0x200/1634900441/logo%20dung%20en%201%20.png" alt="" class="user-avatar">
        Tùy chọn
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/idols/create">Tạo idol mới</a></li>
        <li><a class="dropdown-item" href="/idols/edit">Chỉnh sửa idol</a></li>
      </ul>
    </div>
  </div>
</nav>